* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    background: linear-gradient(50deg, #ffffff, #2d98da);
    color: #130f40;
    width: 35vw;
    height: 40vh;
}

.container h2 {
    font-size: 2.6rem;
    text-align: center;
    margin-block: 10px;
}

input {
    padding-block: 6px;
    width: 100%;
    outline: none;
    border: none;
    padding-inline: 4px;
    font-weight: bold;
}
input:hover{
    border: 1px solid #2d98da;
}

div {
    margin-inline: 10px;
    margin-block: 10px;
}

button {
    outline: none;
    border: none;
    padding-block: 6px;
    padding-inline: 4px;
    font-weight: bold;
    width: 100%;
    border: 1px solid white;
    transition: 0.1s linear;
    cursor: pointer;
}

button:hover {
    background-color: #2d98da;
  color: #ffffff;   
}